################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/Blog/DesignTimeBuild
/.vs/Blog/v15
/.vs/Blog/v16/Server/sqlite3
/.vs/Blog/v16/TestStore/0
/.vs/config
/.vs
